.modal-container-register {
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
}

/* using :target */
.modal-container-register:target {
  display: flex;
}

.modal-register {
  position: absolute;
  margin-top: 1rem;
  width: 25rem;
  padding: 4rem 2rem;
  border-radius: 0.8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem #00383e;
  position: relative;
  overflow: hidden;
}

.modal__btn__register {
  padding: 1rem 1.6rem;
  margin-top: 1.2rem;
  border: 1px solid #b3c4d7;
  border-radius: 100rem;
  color: inherit;
  background: transparent;
  font-size: 1.1rem;
  font-family: inherit;
  letter-spacing: 0.2rem;
  transition: 0.2s;
  cursor: pointer;
}

.modal__btn__register:hover,
.modal__btn__register:focus {
  border-color: #cc5075;
  transform: translateY(-0.2rem);
}

/* links */
/* =============================================== */
.link-1-register {
  font-size: 1rem;
  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem #091b48;
  border-radius: 100rem;
  padding: 1.4rem 3.2rem;
  margin-top: 15rem;
  margin-left: 6.5rem;
  position: absolute;

  transition: 0.2s;
}

.link-1-register:hover,
.link-1-register:focus {
  transform: translateY(-0.2rem);
  box-shadow: 0 0 4.4rem 0.2rem #0b0600;
}

.link-2-register {
  width: 3rem;
  height: 3rem;
  margin-top: -1.3rem;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.link-2-register::before {
  content: "×";

  transform: translateY(-0.1rem);
}

.link-2-register:hover,
.link-2-register:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  transform: translateY(-0.2rem);
}

/* Second Version Link */
/* =============================================== */
.second-version-link,
.second-version-link:link {
  color: hsl(236, 50%, 50%);
  padding: 0.8rem 1.6rem 0.8rem 0.2rem;
  border-bottom: 2px solid hsl(236, 50%, 50%);

  font-size: 1.4rem;
  font-weight: bold;

  position: absolute;
  top: 4rem;
  right: 4rem;
}

.second-version-link::after {
  content: "\2197";

  position: absolute;
  top: 0;
  right: 0;

  font-size: 0.9em;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 25%, 97%, 0.6);
  font-size: 1.6rem;
}
