body{
background-color: #F0EFEB
}

.top_message {
  color: #2f3132;
  font-size: 18px;
  font-weight: 1000;

  position: relative;
}
.logo{
/*   background-color: red; */
  height: 4.5rem;
  width: 5rem;
}
