.swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  
  .swiper-slide img {
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img{
    border-radius: 10%; 
  }
  .description{
    position: absolute;
    display: block;
    text-decoration: none;
    background-color: rgb(155,155,155);
    opacity: 0.5;
    height: 12vh;
    width: 38vh;
    margin-top: 30vh;
    border-radius:10px 9px 50px 50px;
  }
  .title-description{
   font-size: 2vh;
   text-align: center;
   margin-top: 2vh;
   color: black;
   font-weight: bold;
   position: relative;
    
  }