.img-alet-desing{
  background-color: #ffc900;
 /*  border-radius: 47% 53% 52% 48% / 0% 0% 100% 100% ; */
  position: relative;
  height: 40vh;
  width: 58.8vh;
  text-align: center;
}
.img-alet{
  height: 10vh;
  float: left;
  margin-left: 7vh;
  margin-top: 1rem;
}

.imgTrack {
  border-radius: 3rem;
  width: 18rem;
  margin-left: -35%;
  position: absolute;
  text-align: center;
  margin-top: -350px;
  background-color: #efe2d5;
}
.player{
  margin-top: 19.2rem;
}

.img-details{
  position: relative;

} 

.trackContainer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.trackTitle{
position: absolute;
display: block;
text-decoration: none;
background-color: rgb(155,155,155);
opacity: 0.6;
margin-top: -42vh;
margin-left: 7vh;
border-radius: 10px 9px 45px 45px;
height: 12vh;
width: 43.3vh;
}
.tracks-description{
text-align: center;
margin-top: 2vh;
}




