body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.containerTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.imgTrack {
  border-radius: 3rem;
  width: 150rem;
  margin-bottom: 20px;
  margin-top: -3.2rem;
}

.containerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.trackContainer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.trackContainer .trackCard {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.trackContainer .trackCard .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.trackContainer .trackCard:hover .content {
  transform: translateY(-20px);
}

.trackContainer .trackCard .content .trackImage {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.trackContainer .trackCard .content .trackImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trackContainer .trackCard .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.trackContainer .trackCard .content .contentBx h3 {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.trackContainer .trackCard .sci {
  position: absolute;
  bottom: 10px;
  display: flex;
}

.trackContainer .trackCard .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}

.trackContainer .trackCard:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.status__slider__tracks {
  align-items: center;
  padding: 2%;
  margin-top: -2rem;
}

.status__avatar__tracks {
  height: 13%;
  padding: 13%;
  border-radius: 100%;
  position: relative;
  margin-top: 1rem;
}

.status__avatar__tracks > img {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 20%;
  box-shadow: 0.1vw 0.8vw 1vw rgba(0, 0, 0, 0.35);
}
.title__suggestion {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 18px;
}
