@import url('https://css.gg/search.css');

.search-container{
    height: 10vh;
    width: 45vh;
    margin-left: 16vh;
    margin-top: 1vh;
}
.finder {
    border: 1px solid white;
    background-color: #BCCCDA;
    width: 39.5vh;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
  }
  
  .finder-outer {
    display: flex;
    width: 34vh;
    height: 2vh;
    padding: 1.1rem 1rem;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -10px #c3c3c3,
      inset -10px -10px 15px -10px #ffffff;
  }
  
  .finder-inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }
  

  .finder-input {
    background-color: red;
    height: calc(100% + 3rem);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.1rem;
    letter-spacing: 0.75px;
    margin-top: -4vh;
    margin-left: 1vh;
  }
  
  .finder-icon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;

    }
